@import url(./variables.css);

.darkmodeContainer {
  min-width: var(--main-container-with);
  width: 100px;
  height: var(--main-container-height);
  background-color: var(--main-container-background);

  display: flex;
  align-items: center;
  border: 1px solid green;
  padding: 6px;
  border-radius: 28px;

  .switch {
    border-radius: inherit;
    padding: 4px;
  }
  .switchHover {
    &:hover {
      box-shadow: 0 0 10px var(--main-hover-color),
        0 0 15px var(--main-hover-color);
    }
  }

  .addBorder {
    background-color: var(--main-color);
    color: var(--main-background);
  }

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    background-color: inherit;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;

    & > svg {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
}
.staticSwitch {
  justify-content: center;
}

.normalSwitch {
  justify-content: flex-start;
}

.dinamicSwitch {
  justify-content: flex-end;
}
