@import url(./variables.css);

.darkmodeContainer {
  min-width: var(--main-min-container-with);
  width: 60px;
  height: var(--main-container-height);
  background-color: var(--main-container-background);

  font-size: small;
  display: flex;
  align-items: center;
  border: 1px solid #55aa00;
  padding: 2px;
  border-radius: 28px;
  .switch {
    border-radius: inherit;
    padding: 2px 4px;
  }
  .switchHoverDark {
    &:hover {
      box-shadow: 0 0 10px #fff, 0 0 15px #fff;
    }
  }
  .switchHoverLight {
    &:hover {
      box-shadow: 0 0 10px #000, 0 0 15px #000;
    }
  }

  .addLightBorder {
    background-color: #000;
    color: #fff;
  }
  .addDarkBorder {
    background-color: #fff;
    color: #000;
  }

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    background-color: inherit;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;

    & > svg {
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
}
.staticSwitch {
  border: none;
  max-width: fit-content !important;
  justify-content: center;
}

.normalSwitch {
  justify-content: flex-start;
}

.dinamicSwitch {
  justify-content: flex-end;
}
