:root {
  --main-background: inehrit;
  --main-color: inehrit;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-background);
  color: var(--main-color);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 ;
}

h1{
  margin-top: 100px;
}
.darkmode-container {
  height: 80px;
  padding: 0 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed rebeccapurple;
}
